/* MainContent */
.main-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(255, 255, 240, 0.85);
    flex: 1;
    border-left: 2px solid #8b6b30;
  }
  